@font-face {
    font-family: 'Arial-MT';
    src: url("./assets/fonts/Arial-MT.woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 480px;
    height: auto;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-image: url('./assets/img/HorrorCollage.jpg');
    background-position: center;
    background-size: cover;
    font-weight: 600;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 3%;
    border: 1px solid #502a00;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;;
}

.ancients-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.ancient {
    background-image: url(./assets/png/Azathoth.png);
    min-width: 283px;
    min-height: 365px;
    background-position: center;
    background-size: cover;
    border: 2px solid rgba(213, 120, 0, 1);
}

.level-container {
    display: flex;
    justify-content: center;
}

.level {
    display: none;
}

.active {
    display: block;
    border: 2px solid rgba(213, 120, 0, 1);
    padding: 6px;
}

.deck-container {
    display: none;
}

.deck-container-active {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.current-state {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stage-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stage-text {
    color: rgb(88, 1, 1);
}

.dots-container {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.dot {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, 1px 0px #000;
}

.green {
    background-color: rgba(46, 117, 46, 84%);
}

.brown {
    background-color: rgba(124, 68, 3, 84%);
}

.blue {
    background-color: rgba(16, 16, 96, 84%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-active {
    min-width: 174px;
    min-height: 254px;
    background-position: center;
    background-size: cover;
    border: 2px solid rgba(213, 120, 0, 1);
}

.text-active {
    color: rgb(188, 19, 19);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 20px;
}